<h1>About Drawscript</h1>
<p>Drawscript is a totally new form of written language. It is a user-defined, user-identified database of arch-symbols that will begin to build a community of new word-forms. The goal is to create a new language that bridges the gap between cultural boundaries and the computer-user relationship. </p>

<p>Currently, the database consists of scanned versions of the characters. They will be converted to vectors, as well as bitmap and to a form of QR-Codes in order to convert them to binary which will allow the computer to understand them as well. </p>